name: Homedocs
description: Document stuff with Markdown
version: "2.0.3"
slug: homedocs
init: false
url: https://github.com/masterwendu/homeassistant-addons/tree/main/homedocs
arch:
  - aarch64
  - amd64
  # - armhf
  # - armv7
  # - i386
startup: services
map:
  - config:rw
ingress: true
ingress_port: 3000
ports:
  3000/tcp: null
ports_description:
  3000/tcp: Web interface (Not required for Ingress)
panel_icon: mdi:text-box-outline
panel_admin: false
image: "ghcr.io/masterwendu/{arch}-addon-homedocs"